    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        border: 0;
        list-style-type: none;
    }
    
    .wrapper {
        min-height: 100vh;
        max-width: 1280px;
        margin: 0 auto;
        background-color: rgb(0, 255, 255);
        display: grid;
        grid-template: auto auto / 1fr;
        grid-template-areas: "header" "main";
    }
    
    .header,
    .main {
        display: grid;
    }
    
    .header {
        grid-area: header;
        padding: 20px;
    }
    
    .title {
        font-size: 48px;
        text-align: center;
    }
    
    .list__navigation {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        justify-content: space-around;
        justify-items: center;
        margin: 10px;
        grid-gap: 10px;
    }
    
    .button {
        font-size: 24px;
        line-height: 36px;
        padding: 5px 15px;
        background-color: rgb(193, 93, 227);
        color: rgb(254, 252, 250);
        border-radius: 25px;
        transition: all 500ms;
    }
    
    .button:hover {
        color: black;
        background-color: rgb(230, 177, 248);
        transform: scale(1.1);
    }
    
    .main {
        grid-area: main;
        padding: 0px 20px;
    }
    
    .news__blog {
        display: grid;
        grid-auto-rows: 200px;
        grid-auto-columns: 200px;
        grid-template-columns: repeat(auto-fit, minmax(200px, auto));
        justify-content: center;
        align-content: flex-end;
        gap: 10px;
    }
    
    .blog__item {
        font-size: 24px;
        background-color: rgb(0, 255, 26);
        display: grid;
        justify-items: center;
        align-items: center;
        transition: all 1000ms cubic-bezier(0.06, 0.51, 0.42, 0.92);
    }
    
    .blog__item:hover {
        background-color: aquamarine;
        transform: rotate(180deg);
    }
    
    .footer {
        position: relative;
        height: 150px;
    }
    
    .ball {
        position: relative;
        bottom: 50%;
        right: 0;
        transform: translate(-50%, 0);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        animation: ball 5000ms linear infinite alternate backwards;
    }
    
    .ball:hover {
        animation-play-state: paused;
    }
    
    @keyframes ball {
        0% {
            background-color: rgb(255, 0, 204);
            transform: translate(0, 80px);
        }
        10% {
            background-color: rgb(19, 170, 204);
            transform: translate(125px, 200px);
        }
        20% {
            background-color: rgb(68, 198, 36);
            transform: translate(250px, 80px);
        }
        30% {
            background-color: rgb(184, 6, 45);
            transform: translate(375px, 200px);
        }
        40% {
            background-color: rgb(161, 190, 32);
            transform: translate(500px, 80px);
        }
        50% {
            background-color: rgb(255, 0, 255);
            transform: translate(625px, 200px);
        }
        60% {
            background-color: rgb(6, 232, 164);
            transform: translate(750px, 80px);
        }
        70% {
            background-color: rgb(57, 4, 54);
            transform: translate(875px, 200px);
        }
        80% {
            background-color: rgb(12, 154, 225);
            transform: translate(1000px, 80px);
        }
        90% {
            background-color: rgb(235, 152, 235);
            transform: translate(1125px, 200px);
        }
        100% {
            background-color: rgb(76, 17, 57);
            transform: translate(1230px, 80px);
        }
    }